<a href="https://colab.research.google.com/github/LimJiYeonn/LimJiYeonn.github.io/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B03%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv("mtcars.csv")

In [3]:
print(data)

             Unnamed: 0   mpg   cyl   disp   hp  ...    qsec  vs      am  gear carb
0             Mazda RX4  21.0   6.0  160.0  110  ...   16.46   0  manual     4    4
1         Mazda RX4 Wag  21.0   6.0  160.0  110  ...   17.02   0  manual     4    4
2            Datsun 710  22.8   4.0  108.0   93  ...   18.61   1  manual     4    1
3        Hornet 4 Drive  21.4   6.0  258.0  110  ...    0.10   1    auto     3    1
4     Hornet Sportabout  18.7   8.0  360.0  175  ...   17.02   0    auto     3    2
5               Valiant  18.1   6.0  225.0  105  ...   20.22   1    auto     3    1
6            Duster 360  14.3   8.0  360.0  245  ...   15.84   0    auto     3    4
7             Merc 240D  24.4   NaN  146.7   62  ...   20.00   1    auto     4    2
8              Merc 230  22.8   4.0  140.8   95  ...   22.90   1    auto     4    2
9              Merc 280  19.2   6.0  167.6  123  ...   18.30   1    auto     4    4
10            Merc 280C  17.8   6.0  167.6  123  ...     NaN   1    auto     4    4
11           Merc 450SE  16.4   8.0  275.8  180  ...   17.40   0    auto     3    3
12           Merc 450SL  17.3   8.0  275.8  180  ...   17.60   0    auto    *3    3
13          Merc 450SLC  15.2   8.0  275.8  180  ...   18.00   0    auto     3    3
14   Cadillac Fleetwood  10.4  50.0  472.0  205  ...   17.98   0    auto     3    4
15  Lincoln Continental  10.4   8.0  460.0  215  ...   17.82   0    auto     3    4
16    Chrysler Imperial  14.7   8.0  440.0  230  ...   17.42   0    auto     3    4
17             Fiat 128  32.4   4.0   78.7   66  ...   19.47   1  manual     4    1
18          Honda Civic  30.4   4.0   75.7   52  ...   18.52   1  manual     4    2
19       Toyota Corolla  33.9   4.0   71.1   65  ...   19.90   1  manual     4    1
20        Toyota Corona  21.5   4.0  120.1   97  ...   20.01   1    auto     3    1
21     Dodge Challenger  15.5   8.0  318.0  150  ...   16.87   0    auto     3    2
22          AMC Javelin  15.2   8.0  304.0  150  ...   17.30   0    auto     3    2
23           Camaro Z28  13.3   8.0  350.0  245  ...   15.41   0    auto     3    4
24     Pontiac Firebird  19.2   NaN  400.0  175  ...  100.00   0    auto     3    2
25            Fiat X1-9  27.3   4.0   79.0   66  ...   18.90   1  manual     4    1
26        Porsche 914-2  26.0   4.0  120.3   91  ...   16.70   0  manual     5    2
27         Lotus Europa  30.4   4.0   95.1  113  ...   16.90   1  manual     5    2
28       Ford Pantera L  15.8   8.0  351.0  264  ...   14.50   0  manual    *5    4
29         Ferrari Dino  19.7   6.0  145.0  175  ...   15.50   0  manual     5    6
30        Maserati Bora  15.0   8.0  301.0  335  ...   14.60   0  manual     5    8
31           Volvo 142E  21.4   4.0  121.0  109  ...   18.60   1  manual     4    2

[32 rows x 12 columns]

In [4]:
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs      am  gear carb
0          Mazda RX4  21.0  6.0  160.0  110  ...  16.46   0  manual     4    4
1      Mazda RX4 Wag  21.0  6.0  160.0  110  ...  17.02   0  manual     4    4
2         Datsun 710  22.8  4.0  108.0   93  ...  18.61   1  manual     4    1
3     Hornet 4 Drive  21.4  6.0  258.0  110  ...   0.10   1    auto     3    1
4  Hornet Sportabout  18.7  8.0  360.0  175  ...  17.02   0    auto     3    2

[5 rows x 12 columns]

In [5]:
print(data.shape)

(32, 12)

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [8]:
print(data.describe())

             mpg        cyl        disp  ...        qsec         vs     carb
count  32.000000  30.000000   32.000000  ...   31.000000  32.000000  32.0000
mean   20.090625   7.600000  230.721875  ...   19.866774   0.437500   2.8125
std     6.026948   8.194195  123.938694  ...   15.310469   0.504016   1.6152
min    10.400000   4.000000   71.100000  ...    0.100000   0.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   16.785000   0.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   17.600000   0.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   18.755000   1.000000   4.0000
max    33.900000  50.000000  472.000000  ...  100.000000   1.000000   8.0000

[8 rows x 9 columns]

In [9]:
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [10]:
print(data['am'].unique())
print(data['gear'].unique())
print(data['vs'].unique())

['manual' 'auto']
['4' '3' '*3' '5' '*5']
[0 1]

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [12]:
print(data.corr())

           mpg       cyl      disp  ...      qsec        vs      carb
mpg   1.000000 -0.460227 -0.847551  ...  0.013668  0.664039 -0.550925
cyl  -0.460227  1.000000  0.544876  ... -0.012755 -0.323960  0.239980
disp -0.847551  0.544876  1.000000  ...  0.181810 -0.710416  0.394977
hp   -0.776168  0.323293  0.790949  ...  0.010807 -0.723097  0.749812
drat  0.681172 -0.372671 -0.710214  ... -0.120283  0.440278 -0.090790
wt   -0.867659  0.533690  0.887980  ...  0.093900 -0.554916  0.427606
qsec  0.013668 -0.012755  0.181810  ...  1.000000 -0.112146 -0.120312
vs    0.664039 -0.323960 -0.710416  ... -0.112146  1.000000 -0.569607
carb -0.550925  0.239980  0.394977  ... -0.120312 -0.569607  1.000000

[9 rows x 9 columns]

In [13]:
X = data.drop(columns = 'mpg')  # 독립변수
Y = data['mpg']                 # 종속변수

In [14]:
print(X)

             Unnamed: 0   cyl   disp   hp  drat  ...    qsec  vs      am gear carb
0             Mazda RX4   6.0  160.0  110  3.90  ...   16.46   0  manual    4    4
1         Mazda RX4 Wag   6.0  160.0  110  3.90  ...   17.02   0  manual    4    4
2            Datsun 710   4.0  108.0   93  3.85  ...   18.61   1  manual    4    1
3        Hornet 4 Drive   6.0  258.0  110  3.08  ...    0.10   1    auto    3    1
4     Hornet Sportabout   8.0  360.0  175  3.15  ...   17.02   0    auto    3    2
5               Valiant   6.0  225.0  105  2.76  ...   20.22   1    auto    3    1
6            Duster 360   8.0  360.0  245  3.21  ...   15.84   0    auto    3    4
7             Merc 240D   NaN  146.7   62  3.69  ...   20.00   1    auto    4    2
8              Merc 230   4.0  140.8   95  3.92  ...   22.90   1    auto    4    2
9              Merc 280   6.0  167.6  123  3.92  ...   18.30   1    auto    4    4
10            Merc 280C   6.0  167.6  123  3.92  ...     NaN   1    auto    4    4
11           Merc 450SE   8.0  275.8  180  3.07  ...   17.40   0    auto    3    3
12           Merc 450SL   8.0  275.8  180  3.07  ...   17.60   0    auto   *3    3
13          Merc 450SLC   8.0  275.8  180  3.07  ...   18.00   0    auto    3    3
14   Cadillac Fleetwood  50.0  472.0  205  2.93  ...   17.98   0    auto    3    4
15  Lincoln Continental   8.0  460.0  215  3.00  ...   17.82   0    auto    3    4
16    Chrysler Imperial   8.0  440.0  230  3.23  ...   17.42   0    auto    3    4
17             Fiat 128   4.0   78.7   66  4.08  ...   19.47   1  manual    4    1
18          Honda Civic   4.0   75.7   52  4.93  ...   18.52   1  manual    4    2
19       Toyota Corolla   4.0   71.1   65  4.22  ...   19.90   1  manual    4    1
20        Toyota Corona   4.0  120.1   97  3.70  ...   20.01   1    auto    3    1
21     Dodge Challenger   8.0  318.0  150  2.76  ...   16.87   0    auto    3    2
22          AMC Javelin   8.0  304.0  150  3.15  ...   17.30   0    auto    3    2
23           Camaro Z28   8.0  350.0  245  3.73  ...   15.41   0    auto    3    4
24     Pontiac Firebird   NaN  400.0  175  3.08  ...  100.00   0    auto    3    2
25            Fiat X1-9   4.0   79.0   66  4.08  ...   18.90   1  manual    4    1
26        Porsche 914-2   4.0  120.3   91  4.43  ...   16.70   0  manual    5    2
27         Lotus Europa   4.0   95.1  113  3.77  ...   16.90   1  manual    5    2
28       Ford Pantera L   8.0  351.0  264  4.22  ...   14.50   0  manual   *5    4
29         Ferrari Dino   6.0  145.0  175  3.62  ...   15.50   0  manual    5    6
30        Maserati Bora   8.0  301.0  335  3.54  ...   14.60   0  manual    5    8
31           Volvo 142E   4.0  121.0  109  4.11  ...   18.60   1  manual    4    2

[32 rows x 11 columns]

In [15]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [16]:
print(X.iloc[:,1:])

     cyl   disp   hp  drat     wt    qsec  vs      am gear  carb
0    6.0  160.0  110  3.90  2.620   16.46   0  manual    4     4
1    6.0  160.0  110  3.90  2.875   17.02   0  manual    4     4
2    4.0  108.0   93  3.85  2.320   18.61   1  manual    4     1
3    6.0  258.0  110  3.08  3.215    0.10   1    auto    3     1
4    8.0  360.0  175  3.15  3.440   17.02   0    auto    3     2
5    6.0  225.0  105  2.76  3.460   20.22   1    auto    3     1
6    8.0  360.0  245  3.21  3.570   15.84   0    auto    3     4
7    NaN  146.7   62  3.69  3.190   20.00   1    auto    4     2
8    4.0  140.8   95  3.92  3.150   22.90   1    auto    4     2
9    6.0  167.6  123  3.92  3.440   18.30   1    auto    4     4
10   6.0  167.6  123  3.92  3.440     NaN   1    auto    4     4
11   8.0  275.8  180  3.07  4.070   17.40   0    auto    3     3
12   8.0  275.8  180  3.07  3.730   17.60   0    auto   *3     3
13   8.0  275.8  180  3.07  3.780   18.00   0    auto    3     3
14  50.0  472.0  205  2.93  5.250   17.98   0    auto    3     4
15   8.0  460.0  215  3.00  5.424   17.82   0    auto    3     4
16   8.0  440.0  230  3.23  5.345   17.42   0    auto    3     4
17   4.0   78.7   66  4.08  2.200   19.47   1  manual    4     1
18   4.0   75.7   52  4.93  1.615   18.52   1  manual    4     2
19   4.0   71.1   65  4.22  1.835   19.90   1  manual    4     1
20   4.0  120.1   97  3.70  2.465   20.01   1    auto    3     1
21   8.0  318.0  150  2.76  3.520   16.87   0    auto    3     2
22   8.0  304.0  150  3.15  3.435   17.30   0    auto    3     2
23   8.0  350.0  245  3.73  3.840   15.41   0    auto    3     4
24   NaN  400.0  175  3.08  3.845  100.00   0    auto    3     2
25   4.0   79.0   66  4.08  1.935   18.90   1  manual    4     1
26   4.0  120.3   91  4.43  2.140   16.70   0  manual    5     2
27   4.0   95.1  113  3.77  1.513   16.90   1  manual    5     2
28   8.0  351.0  264  4.22  3.170   14.50   0  manual   *5     4
29   6.0  145.0  175  3.62  2.770   15.50   0  manual    5     6
30   8.0  301.0  335  3.54  3.570   14.60   0  manual    5     8
31   4.0  121.0  109  4.11  2.780   18.60   1  manual    4     2

In [17]:
X = X.iloc[:,1:]

In [18]:
print(X)

     cyl   disp   hp  drat     wt    qsec  vs      am gear  carb
0    6.0  160.0  110  3.90  2.620   16.46   0  manual    4     4
1    6.0  160.0  110  3.90  2.875   17.02   0  manual    4     4
2    4.0  108.0   93  3.85  2.320   18.61   1  manual    4     1
3    6.0  258.0  110  3.08  3.215    0.10   1    auto    3     1
4    8.0  360.0  175  3.15  3.440   17.02   0    auto    3     2
5    6.0  225.0  105  2.76  3.460   20.22   1    auto    3     1
6    8.0  360.0  245  3.21  3.570   15.84   0    auto    3     4
7    NaN  146.7   62  3.69  3.190   20.00   1    auto    4     2
8    4.0  140.8   95  3.92  3.150   22.90   1    auto    4     2
9    6.0  167.6  123  3.92  3.440   18.30   1    auto    4     4
10   6.0  167.6  123  3.92  3.440     NaN   1    auto    4     4
11   8.0  275.8  180  3.07  4.070   17.40   0    auto    3     3
12   8.0  275.8  180  3.07  3.730   17.60   0    auto   *3     3
13   8.0  275.8  180  3.07  3.780   18.00   0    auto    3     3
14  50.0  472.0  205  2.93  5.250   17.98   0    auto    3     4
15   8.0  460.0  215  3.00  5.424   17.82   0    auto    3     4
16   8.0  440.0  230  3.23  5.345   17.42   0    auto    3     4
17   4.0   78.7   66  4.08  2.200   19.47   1  manual    4     1
18   4.0   75.7   52  4.93  1.615   18.52   1  manual    4     2
19   4.0   71.1   65  4.22  1.835   19.90   1  manual    4     1
20   4.0  120.1   97  3.70  2.465   20.01   1    auto    3     1
21   8.0  318.0  150  2.76  3.520   16.87   0    auto    3     2
22   8.0  304.0  150  3.15  3.435   17.30   0    auto    3     2
23   8.0  350.0  245  3.73  3.840   15.41   0    auto    3     4
24   NaN  400.0  175  3.08  3.845  100.00   0    auto    3     2
25   4.0   79.0   66  4.08  1.935   18.90   1  manual    4     1
26   4.0  120.3   91  4.43  2.140   16.70   0  manual    5     2
27   4.0   95.1  113  3.77  1.513   16.90   1  manual    5     2
28   8.0  351.0  264  4.22  3.170   14.50   0  manual   *5     4
29   6.0  145.0  175  3.62  2.770   15.50   0  manual    5     6
30   8.0  301.0  335  3.54  3.570   14.60   0  manual    5     8
31   4.0  121.0  109  4.11  2.780   18.60   1  manual    4     2

In [19]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [20]:
cyl_mean = X['cyl'].mean()

In [21]:
X['cyl'] = X['cyl'].fillna(cyl_mean)

In [22]:
qsec_mean = X['qsec'].mean()

In [23]:
X['qsec'] = X['qsec'].fillna(qsec_mean)

In [24]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [25]:
X['gear'] = X['gear'].replace('*3', '3').replace('*5', '5')

In [26]:
print(X['gear'])

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [27]:
X_discribe = X.describe()
print(X_discribe)

             cyl        disp          hp  ...        qsec         vs     carb
count  32.000000   32.000000   32.000000  ...   32.000000  32.000000  32.0000
mean    7.600000  230.721875  146.687500  ...   19.866774   0.437500   2.8125
std     7.925459  123.938694   68.562868  ...   15.061502   0.504016   1.6152
min     4.000000   71.100000   52.000000  ...    0.100000   0.000000   1.0000
25%     4.000000  120.825000   96.500000  ...   16.827500   0.000000   2.0000
50%     6.000000  196.300000  123.000000  ...   17.710000   0.000000   2.0000
75%     8.000000  326.000000  180.000000  ...   19.042500   1.000000   4.0000
max    50.000000  472.000000  335.000000  ...  100.000000   1.000000   8.0000

[8 rows x 8 columns]

In [28]:
print(X_discribe.loc['75%'], X_discribe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     19.0425
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [29]:
X_iqr = X_discribe.loc["75%"] - X_discribe.loc["25%"]
print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      2.21500
vs        1.00000
carb      2.00000
dtype: float64

In [30]:
print(X_discribe.loc['75%'] + (1.5 * X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     22.365000
vs        2.500000
carb      7.000000
dtype: float64

In [31]:
print(X_discribe.loc['max'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [32]:
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [33]:
X.loc[14, 'cyl'] = 14

In [34]:
X.loc[14, 'cyl']

14.0

In [35]:
print(X.loc[ X['hp'] > 305.25 ] )

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [36]:
X.loc[30,'hp'] = 305.25

In [37]:
print(X.loc[30,'hp'])

305.25

In [38]:
print(X_discribe.loc['25%'] - X_iqr)

cyl      0.0000
disp   -84.3500
hp      13.0000
drat     2.2400
wt       1.5525
qsec    14.6125
vs      -1.0000
carb     0.0000
dtype: float64

In [39]:
print(X_discribe.loc['min'])

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

In [40]:
print(X.loc[X['qsec'] < 14.815 ])

    cyl   disp      hp  drat     wt  qsec  vs      am gear  carb
3   6.0  258.0  110.00  3.08  3.215   0.1   1    auto    3     1
28  8.0  351.0  264.00  4.22  3.170  14.5   0  manual    5     4
30  8.0  301.0  305.25  3.54  3.570  14.6   0  manual    5     8

In [41]:
X.loc[[3,28,30],'qsec'] = 14.815

In [42]:
print(X.loc[[3,28,30],'qsec'])

3     14.815
28    14.815
30    14.815
Name: qsec, dtype: float64

In [43]:
def outlier(data, column):
    mean = data[column].mean()
    std = data[column].std()
    lowest = mean - ( 1.5 * std )
    highest = mean + (1.5 * std)
    print('최소 경계값 : ', lowest, '최대 경계값 : ', highest)
    outlier_index =+ data.loc[ data[column] < lowest ] 
    outlier_index =+  data.loc[ data[column] > highest ] 
    return outlier_index

In [44]:
outlier(X, 'qsec')

최소 경계값 :  -1.6335506794634185 최대 경계값 :  42.3199115665602

    cyl disp   hp  drat     wt qsec vs    am gear carb
24  7.6  400  175  3.08  3.845  100  0  auto    3    2

In [45]:
print(X.loc[24, 'qsec'] )

100.0

In [46]:
X.loc[24, 'qsec'] = 42.245

In [47]:
print(outlier(X, 'carb'))

최소 경계값 :  0.3897000335522218 최대 경계값 :  5.235299966447778
   cyl disp      hp  drat    wt    qsec vs      am gear carb
29   6  145     175  3.62  2.77    15.5  0  manual    5    6
30   8  301  305.25  3.54  3.57  14.815  0  manual    5    8

In [48]:
print(X.loc[ [29, 30], 'carb'])

29    6
30    8
Name: carb, dtype: int64

In [49]:
X.loc[ [29, 30], 'carb'] = 5.235

In [50]:
    mean = X['qsec'].mean()
    std = X['qsec'].std()
    lowest = mean - ( 1.5 * std )
    highest = mean + (1.5 * std)

In [51]:
print(lowest, highest)

11.489377395464974 25.58729599163181

In [52]:
  outlier_index =+ X.loc[ X['qsec'] < lowest ]

In [53]:
  outlier_index =+  X.loc[ X['qsec'] > highest ]

In [54]:
print(outlier_index)

    cyl disp   hp  drat     wt    qsec vs    am gear carb
24  7.6  400  175  3.08  3.845  42.245  0  auto    3    2

In [55]:
from sklearn.preprocessing import StandardScaler  ##Scaler!!! r 꼭 붙이기
temp = X[['qsec']]
scaler = StandardScaler()  #StandardScaler()함수 호출하여 scaler 객체 생성
#fit_transform() 함수에 temp 변수 전달하여 표준 크기 변환 수행
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp)) 
print(qsec_s_scaler.describe())

                  0
count  3.200000e+01
mean  -2.010111e-16
std    1.016001e+00
min   -8.049941e-01
25%   -3.698869e-01
50%   -1.790883e-01
75%    1.090013e-01
max    5.125436e+00

In [56]:
from sklearn.preprocessing import MinMaxScaler

In [57]:
scaler = MinMaxScaler()

In [58]:
temp = X[['qsec']]

In [59]:
min_max_scaler = pd.DataFrame(scaler.fit_transform(temp))

In [60]:
print(min_max_scaler.describe())

               0
count  32.000000
mean    0.135740
std     0.171320
min     0.000000
25%     0.073369
50%     0.105541
75%     0.154120
max     1.000000

In [61]:
from sklearn.preprocessing import RobustScaler

In [62]:
scaler = RobustScaler()

In [63]:
s_scale = pd.DataFrame(scaler.fit_transform(temp))

In [64]:
print(s_scale.describe())

               0
count  32.000000
mean    0.373967
std     2.121583
min    -1.306998
25%    -0.398420
50%     0.000000
75%     0.601580
max    11.076749

In [65]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [66]:
X['gear'] = X['gear'].astype('int64')

In [67]:
X['gear'].dtype

dtype('int64')

In [68]:
print(X['am'].unique())

['manual' 'auto']

In [69]:
print(pd.get_dummies(X['am']))

    auto  manual
0      0       1
1      0       1
2      0       1
3      1       0
4      1       0
5      1       0
6      1       0
7      1       0
8      1       0
9      1       0
10     1       0
11     1       0
12     1       0
13     1       0
14     1       0
15     1       0
16     1       0
17     0       1
18     0       1
19     0       1
20     1       0
21     1       0
22     1       0
23     1       0
24     1       0
25     0       1
26     0       1
27     0       1
28     0       1
29     0       1
30     0       1
31     0       1

In [70]:
print(pd.get_dummies(X['am'],drop_first = True ))

    manual
0        1
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       1
27       1
28       1
29       1
30       1
31       1

In [71]:
print(X['am'].head())
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

0    manual
1    manual
2    manual
3      auto
4      auto
Name: am, dtype: object

In [72]:
print(encoder.fit_transform(X['am']))

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

In [73]:
fruit = ['apple', 'banana', 'grape']
fruit_en = encoder.fit_transform(fruit)
print(fruit, fruit_en)

['apple', 'banana', 'grape'] [0 1 2]

In [74]:
X['am_new'] = X['am'].replace('manual', 0).replace('auto', 1)

In [75]:
print(X.head())

   cyl   disp     hp  drat     wt    qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.460   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.020   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.610   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215  14.815   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.020   0    auto     3   2.0       1

In [76]:
X = X.drop(columns = 'am')

In [77]:
condition = X['wt'] < 3.3

In [78]:
X.loc[condition, 'wt_class'] = 0
X.loc[~condition, 'wt_class'] = 1

In [79]:
X[ ['wt', 'wt_class']]  #두 개 이상의 열 출력시 [ ] 대괄호로 묶기

       wt  wt_class
0   2.620       0.0
1   2.875       0.0
2   2.320       0.0
3   3.215       0.0
4   3.440       1.0
5   3.460       1.0
6   3.570       1.0
7   3.190       0.0
8   3.150       0.0
9   3.440       1.0
10  3.440       1.0
11  4.070       1.0
12  3.730       1.0
13  3.780       1.0
14  5.250       1.0
15  5.424       1.0
16  5.345       1.0
17  2.200       0.0
18  1.615       0.0
19  1.835       0.0
20  2.465       0.0
21  3.520       1.0
22  3.435       1.0
23  3.840       1.0
24  3.845       1.0
25  1.935       0.0
26  2.140       0.0
27  1.513       0.0
28  3.170       0.0
29  2.770       0.0
30  3.570       1.0
31  2.780       0.0

In [80]:
X = X.drop(columns = 'wt' )

In [81]:
print(X.head())

   cyl   disp     hp  drat    qsec  vs  gear  carb  am_new  wt_class
0  6.0  160.0  110.0  3.90  16.460   0     4   4.0       0       0.0
1  6.0  160.0  110.0  3.90  17.020   0     4   4.0       0       0.0
2  4.0  108.0   93.0  3.85  18.610   1     4   1.0       0       0.0
3  6.0  258.0  110.0  3.08  14.815   1     3   1.0       1       0.0
4  8.0  360.0  175.0  3.15  17.020   0     3   2.0       1       1.0

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 10)

In [84]:
print(x_train.head())

     cyl   disp     hp  drat   qsec  vs  gear  carb  am_new  wt_class
19   4.0   71.1   65.0  4.22  19.90   1     4   1.0       0       0.0
14  14.0  472.0  205.0  2.93  17.98   0     3   4.0       1       1.0
18   4.0   75.7   52.0  4.93  18.52   1     4   2.0       0       0.0
6    8.0  360.0  245.0  3.21  15.84   0     3   4.0       1       1.0
11   8.0  275.8  180.0  3.07  17.40   0     3   3.0       1       1.0

In [85]:
print(y_train.head())

19    33.9
14    10.4
18    30.4
6     14.3
11    16.4
Name: mpg, dtype: float64

In [86]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [87]:
model.fit(x_train, y_train)

LinearRegression()

In [88]:
y_train_predicted = model.predict(x_train)

In [89]:
y_test_predicted = model.predict(x_test)

In [90]:
print(model.intercept_) #y절편 값

24.465757362844762

In [91]:
print(model.coef_ ) #회귀게수 값

[-0.14227967 -0.01201885 -0.00394577  0.95357399  0.09050247  1.10396898
  0.6543528  -1.99665825 -3.58134895 -0.05433545]

In [92]:
print(model.score(x_train, y_train)) #학습데이터에 대한 결정계수

0.905890993167077

In [95]:
print(model.score(x_test, y_test)) #테스트데이터에 대한 결정계수

0.09995641878914518

In [101]:
from sklearn.metrics import r2_score  #결정계수
from sklearn.metrics import mean_absolute_error  #MAE
from sklearn.metrics import mean_squared_error   #MSE  squared!!! "ed"
import numpy as np

In [98]:
print(r2_score(y_train, y_train_predicted)) #학습데이터의 실제값과 예측값 -> R^2

0.905890993167077

In [99]:
print(r2_score(y_test, y_test_predicted))  #테스트데이터의 실제값과 예측값 -> R^2

0.09995641878914518

In [102]:
print(mean_absolute_error(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))
print(np.sqrt(mean_squared_error(y_test, y_test_predicted)))

2.329735541161217
8.94103293574863
2.990156005252674

In [104]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state = 10)

In [109]:
model.fit(x_train, y_train)
y_train_predicted = model.predict(x_train)
y_test_predicted = model.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:399: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

In [110]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
print(mean_absolute_error(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))

0.980110693462169
0.4554251067042411
1.7274400000000134
5.409806990000068

In [108]:
model = RandomForestRegressor(n_estimators = 1000, criterion = 'mae', random_state=10)

In [115]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state = 10)
model.fit(x_train, y_train)
y_train_predicted = model.predict(x_train)
y_test_predicted = model.predict(x_test)

In [116]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))

0.9999902306679717
0.05940396008643711

In [117]:
print(mean_absolute_error(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))

2.1191938741171388
9.343881060501333

In [118]:
from xgboost import XGBRegressor
model = XGBRegressor(random_state = 10)
model.fit(x_train, y_train)
y_train_predicted = model.predict(x_train)
y_test_predicted = model.predict(x_test)

[07:06:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [120]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
print(mean_absolute_error(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))

0.9994285985841564
0.4396929565197726
1.9754573631286618
5.566090169932578

In [121]:
x_train2 = x_train.drop(columns = 'am_new')

In [123]:
print(y_train.head())

19    33.9
14    10.4
18    30.4
6     14.3
11    16.4
Name: mpg, dtype: float64

In [124]:
y_train2 = x_train['am_new']

In [125]:
x_test2 = x_test.drop(columns = 'am_new')

In [126]:
y_test2 = x_test['am_new']

In [127]:
print(x_train2.head())

     cyl   disp     hp  drat   qsec  vs  gear  carb  wt_class
19   4.0   71.1   65.0  4.22  19.90   1     4   1.0       0.0
14  14.0  472.0  205.0  2.93  17.98   0     3   4.0       1.0
18   4.0   75.7   52.0  4.93  18.52   1     4   2.0       0.0
6    8.0  360.0  245.0  3.21  15.84   0     3   4.0       1.0
11   8.0  275.8  180.0  3.07  17.40   0     3   3.0       1.0

In [128]:
print(x_test2.head())

    cyl   disp     hp  drat    qsec  vs  gear  carb  wt_class
20  4.0  120.1   97.0  3.70  20.010   1     3   1.0       0.0
7   7.6  146.7   62.0  3.69  20.000   1     4   2.0       0.0
5   6.0  225.0  105.0  2.76  20.220   1     3   1.0       1.0
2   4.0  108.0   93.0  3.85  18.610   1     4   1.0       0.0
3   6.0  258.0  110.0  3.08  14.815   1     3   1.0       0.0

In [130]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train2, y_train2)
#y_train2_predict = model.predict(x_train2)
y_test2_predict = model.predict(x_test2)

In [131]:
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score
print(roc_auc_score(y_test2, y_test2_predict))
print(accuracy_score(y_test2, y_test2_predict))
print(precision_score(y_test2, y_test2_predict))
print(recall_score(y_test2, y_test2_predict))

0.8571428571428572
0.8
1.0
0.7142857142857143

In [132]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train2, y_train2)
y_test2_predict = model.predict(x_test2)

In [134]:
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score
print(roc_auc_score(y_test2, y_test2_predict))
print(accuracy_score(y_test2, y_test2_predict))
print(precision_score(y_test2, y_test2_predict))
print(recall_score(y_test2, y_test2_predict))

0.7857142857142857
0.7
1.0
0.5714285714285714

In [136]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train2, y_train2)
y_test2_predict = model.predict(x_test2)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [137]:
print(roc_auc_score(y_test2, y_test2_predict))

0.7619047619047621

In [139]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train2, y_train2)
y_test2_predict = model.predict(x_test2)
print(y_test2_predict)

[0 0 1 0 1 1 1 1 1 0]

In [140]:
y_test2_proba = model.predict_proba(x_test2)
print(y_test2_proba)

[[0.58977365 0.41022635]
 [0.63185716 0.3681428 ]
 [0.03517669 0.9648233 ]
 [0.8720591  0.12794091]
 [0.13779056 0.86220944]
 [0.08792663 0.9120734 ]
 [0.0393728  0.9606272 ]
 [0.40353793 0.5964621 ]
 [0.04754734 0.95245266]
 [0.8571916  0.1428084 ]]

In [141]:
from sklearn.svm import SVC
model = SVC()

In [ ]:
from sklearn.ensemble import BaggingClassifier

In [143]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [144]:
from sklearn.neural_network import MLPClassifier

In [145]:
print(type(y_test2_predict))

<class 'numpy.ndarray'>

In [147]:
pd.DataFrame(y_test2_predict).to_csv('sample_data/12345.csv', index = False)