<a href="https://colab.research.google.com/github/LimJiYeonn/LimJiYeonn.github.io/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B05%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', 'base', 'clone', 'config_context', 'exceptions', 'externals', 'get_config', 'logger', 'logging', 'os', 'random', 'set_config', 'setup_module', 'show_versions', 'sys', 'utils']

In [2]:
import sklearn.preprocessing
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [3]:
from sklearn.preprocessing import StandardScaler
print(help(StandardScaler))

Help on class StandardScaler in module sklearn.preprocessing._data:

class StandardScaler(sklearn.base._OneToOneFeatureMixin, sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  StandardScaler(*, copy=True, with_mean=True, with_std=True)
 |
 |  Standardize features by removing the mean and scaling to unit variance.
 |
 |  The standard score of a sample `x` is calculated as:
 |
 |      z = (x - u) / s
 |
 |  where `u` is the mean of the training samples or zero if `with_mean=False`,
 |  and `s` is the standard deviation of the training samples or one if
 |  `with_std=False`.
 |
 |  Centering and scaling happen independently on each feature by computing
 |  the relevant statistics on the samples in the training set. Mean and
 |  standard deviation are then stored to be used on later data using
 |  :meth:`transform`.
 |
 |  Standardization of a dataset is a common requirement for many
 |  machine learning estimators: they might behave badly if the
 |  individual features do not more or less look like standard normally
 |  distributed data (e.g. Gaussian with 0 mean and unit variance).
 |
 |  For instance many elements used in the objective function of
 |  a learning algorithm (such as the RBF kernel of Support Vector
 |  Machines or the L1 and L2 regularizers of linear models) assume that
 |  all features are centered around 0 and have variance in the same
 |  order. If a feature has a variance that is orders of magnitude larger
 |  that others, it might dominate the objective function and make the
 |  estimator unable to learn from other features correctly as expected.
 |
 |  This scaler can also be applied to sparse CSR or CSC matrices by passing
 |  `with_mean=False` to avoid breaking the sparsity structure of the data.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  copy : bool, default=True
 |      If False, try to avoid a copy and do inplace scaling instead.
 |      This is not guaranteed to always work inplace; e.g. if the data is
 |      not a NumPy array or scipy.sparse CSR matrix, a copy may still be
 |      returned.
 |
 |  with_mean : bool, default=True
 |      If True, center the data before scaling.
 |      This does not work (and will raise an exception) when attempted on
 |      sparse matrices, because centering them entails building a dense
 |      matrix which in common use cases is likely to be too large to fit in
 |      memory.
 |
 |  with_std : bool, default=True
 |      If True, scale the data to unit variance (or equivalently,
 |      unit standard deviation).
 |
 |  Attributes
 |  ----------
 |  scale_ : ndarray of shape (n_features,) or None
 |      Per feature relative scaling of the data to achieve zero mean and unit
 |      variance. Generally this is calculated using `np.sqrt(var_)`. If a
 |      variance is zero, we can't achieve unit variance, and the data is left
 |      as-is, giving a scaling factor of 1. `scale_` is equal to `None`
 |      when `with_std=False`.
 |
 |      .. versionadded:: 0.17
 |         *scale_*
 |
 |  mean_ : ndarray of shape (n_features,) or None
 |      The mean value for each feature in the training set.
 |      Equal to ``None`` when ``with_mean=False``.
 |
 |  var_ : ndarray of shape (n_features,) or None
 |      The variance for each feature in the training set. Used to compute
 |      `scale_`. Equal to ``None`` when ``with_std=False``.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  n_samples_seen_ : int or ndarray of shape (n_features,)
 |      The number of samples processed by the estimator for each feature.
 |      If there are no missing samples, the ``n_samples_seen`` will be an
 |      integer, otherwise it will be an array of dtype int. If
 |      `sample_weights` are used it will be a float (if no missing data)
 |      or an array of dtype float that sums the weights seen so far.
 |      Will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  See Also
 |  --------
 |  scale : Equivalent function without the estimator API.
 |
 |  :class:`~sklearn.decomposition.PCA` : Further removes the linear
 |      correlation across features with 'whiten=True'.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  We use a biased estimator for the standard deviation, equivalent to
 |  `numpy.std(x, ddof=0)`. Note that the choice of `ddof` is unlikely to
 |  affect model performance.
 |
 |  For a comparison of the different scalers, transformers, and normalizers,
 |  see :ref:`examples/preprocessing/plot_all_scaling.py
 |  <sphx_glr_auto_examples_preprocessing_plot_all_scaling.py>`.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import StandardScaler
 |  >>> data = [[0, 0], [0, 0], [1, 1], [1, 1]]
 |  >>> scaler = StandardScaler()
 |  >>> print(scaler.fit(data))
 |  StandardScaler()
 |  >>> print(scaler.mean_)
 |  [0.5 0.5]
 |  >>> print(scaler.transform(data))
 |  [[-1. -1.]
 |   [-1. -1.]
 |   [ 1.  1.]
 |   [ 1.  1.]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[3. 3.]]
 |
 |  Method resolution order:
 |      StandardScaler
 |      sklearn.base._OneToOneFeatureMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, copy=True, with_mean=True, with_std=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None, sample_weight=None)
 |      Compute the mean and std to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X, copy=None)
 |      Scale back the data to the original representation.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  partial_fit(self, X, y=None, sample_weight=None)
 |      Online computation of mean and std on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      The algorithm for incremental mean and std is given in Equation 1.5a,b
 |      in Chan, Tony F., Gene H. Golub, and Randall J. LeVeque. "Algorithms
 |      for computing the sample variance: Analysis and recommendations."
 |      The American Statistician 37.3 (1983): 242-247:
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X, copy=None)
 |      Perform standardization by centering and scaling.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base._OneToOneFeatureMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then names are generated: `[x0, x1, ..., x(n_features_in_)]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Same as input features.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base._OneToOneFeatureMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

None

### 1.데이터 분석 연습

1.1 탐색

In [4]:
import pandas as pd
x_train = pd.read_csv('x_train.csv', encoding='CP949')
y_train = pd.read_csv('y_train.csv', encoding='CP949')
x_test = pd.read_csv('x_test.csv', encoding='CP949')

In [5]:
print(x_train.head().T)

                0        1        2         3         4
cust_id         0        1        2         3         4
총구매액     68282840  2136000  3197000  16077620  29050000
최대구매액    11264000  2136000  1639000   4935000  24000000
환불금액     6.86e+06   300000      NaN       NaN       NaN
주구매상품          기타      스포츠   남성 캐주얼        기타        보석
주구매지점         강남점      잠실점      관악점       광주점      본  점
내점일수           19        2        2        18         2
내점당구매건수   3.89474      1.5        2   2.44444       1.5
주말방문비율   0.527027        0        0  0.318182         0
구매주기           17        1        1        16        85

In [6]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(x_train.info())

(3500, 10)
(3500, 2)
(2482, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [7]:
print(x_train.describe().T)

          count          mean  ...           75%           max
cust_id  3500.0  1.749500e+03  ...  2.624250e+03  3.499000e+03
총구매액     3500.0  9.191925e+07  ...  1.065079e+08  2.323180e+09
최대구매액    3500.0  1.966424e+07  ...  2.296250e+07  7.066290e+08
환불금액     1205.0  2.407822e+07  ...  2.412000e+07  5.637530e+08
내점일수     3500.0  1.925371e+01  ...  2.500000e+01  2.850000e+02
내점당구매건수  3500.0  2.834963e+00  ...  3.375000e+00  2.208333e+01
주말방문비율   3500.0  3.072463e-01  ...  4.489796e-01  1.000000e+00
구매주기     3500.0  2.095829e+01  ...  2.800000e+01  1.660000e+02

[8 rows x 8 columns]

1.2 전처리

In [8]:
# 불필요한 칼럼 삭제
x_test_cust_id = x_test['cust_id'] #test의 id만 따로 저장
x_train = x_train.drop(columns = 'cust_id')
y_train = y_train.drop(columns = 'cust_id')
x_test = x_test.drop(columns = 'cust_id')

In [9]:
print(x_train.head(3))

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1

In [10]:
print(y_train.head(3))

   gender
0       0
1       0
2       1

In [11]:
# 결측치 처리
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [12]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

In [13]:
print(x_train['환불금액'].isnull().sum())
print(x_test['환불금액'].isnull().sum())

0
0

In [14]:
# 범주형 변수 인코딩
print(x_train['주구매상품'].unique())
print(x_train['주구매상품'].unique().size)
print(x_train['주구매지점'].unique())
print(x_train['주구매지점'].unique().size)

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']
42
['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']
24

In [15]:
# 라벨 인코딩 수행
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
print(x_train['주구매상품'].head(3))
print(x_test['주구매상품'].head(3))

0     5
1    21
2     6
Name: 주구매상품, dtype: int64
0    3
1    9
2    0
Name: 주구매상품, dtype: int64

classes_  인코딩의 변환 결과 알 수 있다.

In [16]:
print(encoder.classes_)

['가공식품' '가구' '건강식품' '골프' '구두' '기타' '남성 캐주얼' '남성 트랜디' '남성정장' '농산물' '대형가전'
 '디자이너' '란제리/내의' '명품' '모피/피혁' '보석' '생활잡화' '섬유잡화' '셔츠' '수산품' '스포츠' '시티웨어'
 '식기' '아동' '악기' '액세서리' '육류' '일용잡화' '젓갈/반찬' '주류' '주방가전' '주방용품' '차/커피'
 '축산가공' '침구/수예' '캐주얼' '커리어' '통신/컴퓨터' '트래디셔널' '피혁잡화' '화장품']

In [17]:
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])
print(x_train['주구매지점'].head(3))
print(x_test['주구매지점'].head(3))

0     0
1    19
2     1
Name: 주구매지점, dtype: int64
0     9
1    19
2     8
Name: 주구매지점, dtype: int64

In [18]:
print(encoder.classes_)

['강남점' '관악점' '광주점' '노원점' '대구점' '대전점' '동래점' '미아점' '본  점' '부산본점' '부평점' '분당점'
 '상인점' '센텀시티점' '안양점' '영등포점' '울산점' '인천점' '일산점' '잠실점' '전주점' '창원점' '청량리점'
 '포항점']

In [19]:
# 파생변수 생성
condition = x_train['환불금액'] > 0  # 0보다 크면 1, 0이면 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
print(x_train[['환불금액', '환불금액_new']].head(5))

        환불금액  환불금액_new
0  6860000.0       1.0
1   300000.0       1.0
2        0.0       0.0
3        0.0       0.0
4        0.0       0.0

In [20]:
x_train = x_train.drop(columns = '환불금액')

In [21]:
condition = x_test['환불금액'] > 0 
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns = '환불금액')

In [22]:
# 표준화 크기로 변환
print(x_train.describe().T) # 평균이 엄청 큰 거 찾기

           count          mean  ...           75%           max
총구매액      3500.0  9.191925e+07  ...  1.065079e+08  2.323180e+09
최대구매액     3500.0  1.966424e+07  ...  2.296250e+07  7.066290e+08
주구매상품     3500.0  1.461200e+01  ...  2.200000e+01  4.100000e+01
주구매지점     3500.0  1.073429e+01  ...  1.500000e+01  2.300000e+01
내점일수      3500.0  1.925371e+01  ...  2.500000e+01  2.850000e+02
내점당구매건수   3500.0  2.834963e+00  ...  3.375000e+00  2.208333e+01
주말방문비율    3500.0  3.072463e-01  ...  4.489796e-01  1.000000e+00
구매주기      3500.0  2.095829e+01  ...  2.800000e+01  1.660000e+02
환불금액_new  3500.0  3.442857e-01  ...  1.000000e+00  1.000000e+00

[9 rows x 8 columns]

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

In [24]:
print(x_train.describe().T)

           count          mean       std  ...       50%       75%        max
총구매액      3500.0 -4.409171e-17  1.000143  ... -0.389621  0.089237  13.648260
최대구매액     3500.0 -4.838986e-17  1.000143  ... -0.307219  0.103110  21.475852
주구매상품     3500.0 -6.236281e-17  1.000143  ... -0.431093  0.567518   2.027026
주구매지점     3500.0 -8.333017e-17  1.000143  ... -0.307733  0.756913   2.176441
내점일수      3500.0  2.518303e-16  1.000143  ... -0.414180  0.211486   9.780490
내점당구매건수   3500.0 -2.346536e-16  1.000143  ... -0.262346  0.282432  10.066639
주말방문비율    3500.0  1.402687e-16  1.000143  ... -0.175472  0.489224   2.391196
구매주기      3500.0 -1.220294e-16  1.000143  ... -0.321610  0.284570   5.861421
환불금액_new  3500.0  3.445498e-16  1.000143  ... -0.724606  1.380060   1.380060

[9 rows x 8 columns]

In [25]:
#상관관계 확인 0.6이상이면 강한 상관관계, 0.7부터 칼럼 삭제
print(x_train[['총구매액', '최대구매액','환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [26]:
print(x_test[['총구매액', '최대구매액','환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.660978  0.398880
최대구매액     0.660978  1.000000  0.313008
환불금액_new  0.398880  0.313008  1.000000

In [27]:
x_train = x_train.drop(columns = ['최대구매액'])
x_test = x_test.drop(columns = ['최대구매액'])

1.3 학습하고 평가

In [28]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=10, criterion = 'entropy', random_state=10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_proba = model.predict_proba(X_TEST)
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat
final = pd.concat([x_test_cust_id, result], axis = 1).rename(columns={1:'gender'})
final.to_csv('sample_data/12345.csv', index= False)

In [29]:
# 데이터 학습시키기
# 종속변수 = 성별 -> 의사결정나무 분류기 사용
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
# predict의 결과 -> 데프로 변경시키기
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  0

hyper파라미터 - max_depth, criterion(노드 분기하는 조건, default = gini)

In [30]:
model = DecisionTreeClassifier(max_depth=10, criterion = 'entropy', random_state=10)
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  0

In [31]:
# 결과 예측하기
y_test_proba = model.predict_proba(x_test)
print(pd.DataFrame(y_test_proba).head())

          0         1
0  0.200000  0.800000
1  1.000000  0.000000
2  1.000000  0.000000
3  0.548837  0.451163
4  1.000000  0.000000

In [32]:
result = pd.DataFrame(y_test_proba)[1] # 최종 구해야할 확률은 남성
print(result)

0       0.800000
1       0.000000
2       0.000000
3       0.451163
4       0.000000
          ...
2477    0.462312
2478    0.000000
2479    0.560000
2480    1.000000
2481    1.000000
Name: 1, Length: 2482, dtype: float64

In [33]:
# 모델 평가하기
y_train_predictd = model.predict(x_train)
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_train, y_train_predictd))

0.6896432468240978

1.4 결과 제출하기

In [34]:
final = pd.concat([x_test_cust_id, result], axis = 1).rename(columns={1:'gender'})
final.to_csv('sample_data/12345.csv', index= False)

In [35]:
final = pd.read_csv('sample_data/12345.csv')
print(final)

      cust_id    gender
0        3500  0.800000
1        3501  0.000000
2        3502  0.000000
3        3503  0.451163
4        3504  0.000000
...       ...       ...
2477     5977  0.462312
2478     5978  0.000000
2479     5979  0.560000
2480     5980  1.000000
2481     5981  1.000000

[2482 rows x 2 columns]

### 2. 분류모델 수행하기

2.1 탐색

In [36]:
import pandas as pd
x_train = pd.read_csv('titanic_x_train.csv', encoding='CP949')
y_train = pd.read_csv('titanic_y_train.csv', encoding='CP949')
x_test = pd.read_csv('titanic_x_test.csv', encoding='CP949')

In [37]:
print(x_train.head(1).T)

                                   0
PassengerId                        1
티켓등급                               3
승객이름         Braund, Mr. Owen Harris
성별                              male
나이                                22
형제자매배우자수                           1
부모자식수                              0
티켓번호                       A/5 21171
운임요금                            7.25
객실번호                             NaN
선착장                                S

In [38]:
y_train.columns = ['PassengerId', 'Survived']
print(y_train.head(3))

   PassengerId  Survived
0            1         0
1            2         1
2            3         1

In [39]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(891, 11)
(891, 2)
(418, 11)

In [40]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None

In [41]:
#object타입이 범주형인지 아닌지 파악
print(x_train['성별'].unique().size)
print(x_train['성별'].unique())

print(x_train['선착장'].unique().size)
print(x_train['선착장'].unique())

print(x_train['승객이름'].unique().size)
print(x_train['티켓번호'].unique().size)
print(x_train['객실번호'].unique().size)
# 성별과 선착장은 범주형 data, 나머지는 x

2
['male' 'female']
4
['S' 'C' 'Q' nan]
891
681
148

In [42]:
print(x_train.describe().T) #평균 큰 차이 X

             count        mean         std  ...       50%    75%       max
PassengerId  891.0  446.000000  257.353842  ...  446.0000  668.5  891.0000
티켓등급         891.0    2.308642    0.836071  ...    3.0000    3.0    3.0000
나이           714.0   29.699118   14.526497  ...   28.0000   38.0   80.0000
형제자매배우자수     891.0    0.523008    1.102743  ...    0.0000    1.0    8.0000
부모자식수        891.0    0.381594    0.806057  ...    0.0000    0.0    6.0000
운임요금         891.0   32.204208   49.693429  ...   14.4542   31.0  512.3292

[6 rows x 8 columns]

In [43]:
data = pd.concat([x_train, y_train], axis = 1)

In [44]:
print(data.groupby(['성별'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [45]:
print(data.groupby(['선착장'])['Survived'].mean())

선착장
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [46]:
print(data.groupby(['티켓등급'])['Survived'].mean())

티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

2.2 전처리하기

In [47]:
x_test_id = x_test['PassengerId']
x_train = x_train.drop(columns = 'PassengerId')
y_train = y_train.drop(columns = 'PassengerId')
x_test = x_test.drop(columns = 'PassengerId')

In [48]:
print(x_train.head(1))
print(y_train.head(1))

   티켓등급                     승객이름    성별    나이  ...       티켓번호  운임요금 객실번호  선착장
0     3  Braund, Mr. Owen Harris  male  22.0  ...  A/5 21171  7.25  NaN    S

[1 rows x 10 columns]
   Survived
0         0

In [49]:
x_train = x_train.drop(columns = ['티켓번호','승객이름'])
x_test = x_test.drop(columns = ['티켓번호','승객이름'])

In [50]:
print(x_train.head(1).T)
print(y_train.head(1).T)

             0
티켓등급         3
성별        male
나이          22
형제자매배우자수     1
부모자식수        0
운임요금      7.25
객실번호       NaN
선착장          S
          0
Survived  0

In [51]:
print(x_train['나이'].isnull().sum())
print(x_train['객실번호'].isnull().sum())
print(x_train['선착장'].isnull().sum())

177
687
2

In [52]:
print(data[['나이', 'Survived']].corr())

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [53]:
x_train = x_train.drop(columns = '나이')
x_test = x_test.drop(columns = '나이')

In [54]:
x_train = x_train.drop(columns = '객실번호')
x_test = x_test.drop(columns = '객실번호')

In [55]:
print(x_train.groupby(['선착장'])['선착장'].count())

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

In [56]:
x_train['선착장'] = x_train['선착장'].fillna('S')
print(x_train['선착장'].isnull().sum())

0

In [57]:
print(x_train['성별'].unique())
x_train['성별'] = x_train['성별'].replace('male',0).replace('female',1)
x_test['성별'] = x_test['성별'].replace('male',0).replace('female',1)

['male' 'female']

In [58]:
선착장_dummy = pd.get_dummies(x_train['선착장'], drop_first=True).rename(columns={'Q':'선착장Q', 'S':'선착장S'})

In [59]:
x_train = pd.concat([x_train, 선착장_dummy],axis = 1)
print(x_train.head(3))

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장  선착장Q  선착장S
0     3   0         1      0   7.2500   S     0     1
1     1   1         1      0  71.2833   C     0     0
2     3   1         0      0   7.9250   S     0     1

In [60]:
x_train = x_train.drop(columns='선착장')

In [61]:
선착장_dummy = pd.get_dummies(x_test['선착장'], drop_first=True).rename(columns={'Q':'선착장Q', 'S':'선착장S'})
x_test = pd.concat([x_test, 선착장_dummy],axis = 1)
print(x_test.head(3))
x_test = x_test.drop(columns='선착장')

   티켓등급  성별  형제자매배우자수  부모자식수    운임요금 선착장  선착장Q  선착장S
0     3   0         0      0  7.8292   Q     1     0
1     3   1         1      0  7.0000   S     0     1
2     2   0         0      0  9.6875   Q     1     0

In [62]:
x_train['가족수'] = x_train['부모자식수'] + x_train['형제자매배우자수']
print(x_train[['형제자매배우자수', '부모자식수', '가족수']].head())

   형제자매배우자수  부모자식수  가족수
0         1      0    1
1         1      0    1
2         0      0    0
3         1      0    1
4         0      0    0

In [63]:
x_train = x_train.drop(columns = ['형제자매배우자수', '부모자식수'])

In [64]:
x_test['가족수'] = x_test['부모자식수'] + x_test['형제자매배우자수']
x_test = x_test.drop(columns = ['형제자매배우자수', '부모자식수'])

2.3 학습하고 평가

In [65]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state = 10)
print(X_TRAIN.shape)
print(X_TEST.shape)
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(712, 6)
(179, 6)
(712, 1)
(179, 1)

In [66]:
#XGB분류기가 일반적으로 성능 잘 나옴
from xgboost import XGBClassifier

In [67]:
model1 = XGBClassifier(eval_metric='error', random_state=10) # 분류모델로 학습 수행시 eval_metric='error' 기본값
model1.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(eval_metric='error', random_state=10)

In [68]:
model2 = XGBClassifier(n_estimators=100, max_depth=5, eval_metric='error', random_state = 10) # 하이퍼파라미터 추가
model2.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(eval_metric='error', max_depth=5, random_state=10)

In [69]:
Y_TEST_PREDICTED1 = pd.DataFrame(model1.predict(X_TEST))
Y_TEST_PREDICTED2 = pd.DataFrame(model2.predict(X_TEST))

In [70]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED1))
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED2)) #두번째 모델 사용

0.7869451337193273
0.7950096498483595

In [71]:
y_test_predicted = pd.DataFrame(model2.predict(x_test)).rename(columns={0:'Survived'})

2.4 결과 제출

In [72]:
final = pd.concat([x_test_id, y_test_predicted], axis=1)
print(final)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [73]:
final.to_csv('sample_data/12345.csv',index=False)

### 3. 예측 모델 수행하기

3.1 탐색

In [103]:
import pandas as pd
x_train = pd.read_csv('bike_x_train.csv',encoding='CP949')
y_train = pd.read_csv('bike_y_train.csv', encoding='CP949')
x_test = pd.read_csv('bike_x_test.csv', encoding='CP949')

In [104]:
print(x_train.head(3))
print(x_test.head(3))
print(y_train.head(3))

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0
          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000
         癤풼atetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [105]:
print(type(y_train))
print(type(x_train))
y_train = pd.DataFrame(y_train)
print(y_train.columns)
y_train.columns = ['datetime', 'count']
print(y_train.head(3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
Index(['癤풼atetime', 'count'], dtype='object')
          datetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [106]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(10886, 9)
(10886, 2)
(6493, 9)

In [107]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [108]:
print(x_train.describe().T)

        count       mean        std   min      25%     50%      75%       max
계절    10886.0   2.506614   1.116174  1.00   2.0000   3.000   4.0000    4.0000
공휴일   10886.0   0.028569   0.166599  0.00   0.0000   0.000   0.0000    1.0000
근무일   10886.0   0.680875   0.466159  0.00   0.0000   1.000   1.0000    1.0000
날씨    10886.0   1.418427   0.633839  1.00   1.0000   1.000   2.0000    4.0000
온도    10886.0  20.230860   7.791590  0.82  13.9400  20.500  26.2400   41.0000
체감온도  10886.0  23.655084   8.474601  0.76  16.6650  24.240  31.0600   45.4550
습도    10886.0  61.886460  19.245033  0.00  47.0000  62.000  77.0000  100.0000
풍속    10886.0  12.799395   8.164537  0.00   7.0015  12.998  16.9979   56.9969

In [109]:
data = pd.concat([x_train, y_train], axis = 1)

In [110]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [111]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [112]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [113]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

3.2 전처리하기

In [114]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])

In [115]:
x_train['year'] = x_train['datetime'].dt.year
print(x_train['year'].unique())
x_train['month'] = x_train['datetime'].dt.month
print(x_train['month'].unique())

[2011 2012]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [116]:
x_train['day'] = x_train['datetime'].dt.day
print(x_train['day'].unique())
x_train['hour'] = x_train['datetime'].dt.hour
print(x_train['hour'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [117]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
print(x_train['dayofweek'].unique()) #0-월, 1-화

[5 6 0 1 2 3 4]

In [118]:
data2 = pd.concat([x_train,y_train],axis=1)
print(data2.head(3).T)

                             0                    1                    2
datetime   2011-01-01 00:00:00  2011-01-01 01:00:00  2011-01-01 02:00:00
계절                           1                    1                    1
공휴일                          0                    0                    0
근무일                          0                    0                    0
날씨                           1                    1                    1
온도                        9.84                 9.02                 9.02
체감온도                    14.395               13.635               13.635
습도                          81                   80                   80
풍속                           0                    0                    0
year                      2011                 2011                 2011
month                        1                    1                    1
day                          1                    1                    1
hour                         0                    1                    2
dayofweek                    5                    5                    5
datetime       2011-01-01 0:00      2011-01-01 1:00      2011-01-01 2:00
count                       16                   40                   32

In [119]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [120]:
print(data2.groupby(['month'])['count'].sum())

month
1      79884
2      99113
3     133501
4     167402
5     200147
6     220733
7     214617
8     213516
9     212529
10    207434
11    176440
12    160160
Name: count, dtype: int64

In [121]:
print(data2.groupby(['day'])['count'].sum())

day
1     103692
2     105381
3     111561
4     112335
5     109115
6     108600
7     105486
8     102770
9     108041
10    111645
11    111146
12    109257
13    111448
14    112406
15    115677
16    109837
17    118255
18    108437
19    110387
Name: count, dtype: int64

In [122]:
print(data2.groupby(['hour'])['count'].sum())

hour
0      25088
1      15372
2      10259
3       5091
4       2832
5       8935
6      34698
7      96968
8     165060
9     100910
10     79667
11     95857
12    116968
13    117551
14    111010
15    115960
16    144266
17    213757
18    196472
19    143767
20    104204
21     79057
22     60911
23     40816
Name: count, dtype: int64

In [123]:
print(data2.groupby(['dayofweek'])['count'].sum())

dayofweek
0    295296
1    291985
2    292226
3    306401
4    302504
5    311518
6    285546
Name: count, dtype: int64

In [124]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])

In [125]:
x_test['year'] = x_test['datetime'].dt.year
x_test['month'] = x_test['datetime'].dt.month
x_test['day'] = x_test['datetime'].dt.day
x_test['hour'] = x_test['datetime'].dt.hour
x_test['dayofweek'] = x_test['datetime'].dt.dayofweek

In [126]:
print(x_test.head(3).T)

                             0                    1                    2
datetime   2011-01-20 00:00:00  2011-01-20 01:00:00  2011-01-20 02:00:00
계절                           1                    1                    1
공휴일                          0                    0                    0
근무일                          1                    1                    1
날씨                           1                    1                    1
온도                       10.66                10.66                10.66
체감온도                    11.365               13.635               13.635
습도                          56                   56                   56
풍속                     26.0027                    0                    0
year                      2011                 2011                 2011
month                        1                    1                    1
day                         20                   20                   20
hour                         0                    1                    2
dayofweek                    3                    3                    3

In [127]:
x_test_datetime = x_test['datetime']

x_train = x_train.drop(columns = 'datetime')
y_train = y_train.drop(columns = 'datetime')
x_test= x_test.drop(columns = 'datetime')

3.3 학습, 평가

In [128]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)
print(X_TRAIN.shape)
print(X_TEST.shape)
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(8708, 13)
(2178, 13)
(8708, 1)
(2178, 1)

In [129]:
from xgboost import XGBRegressor
model1 = XGBRegressor(n_estimators = 100, max_depth=3, random_state=10)
model1.fit(X_TRAIN, Y_TRAIN)
model2 = XGBRegressor(n_estimator=200, max_depth=5, random_state=10)
model2.fit(X_TRAIN, Y_TRAIN)

[14:47:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:47:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(max_depth=5, n_estimator=200, random_state=10)

In [133]:
Y_TEST_PREDICTED1 = pd.DataFrame(model1.predict(X_TEST)).rename(columns={0:'count'})
Y_TEST_PREDICTED2 = pd.DataFrame(model2.predict(X_TEST)).rename(columns={0:'count'})

In [135]:
print(Y_TEST_PREDICTED1.head(13))

         count
0   334.712402
1   342.557983
2   295.704498
3   196.111542
4   112.787308
5   368.132477
6   -18.448759
7   188.913239
8   310.403442
9   305.313904
10  303.478333
11   95.959457
12  149.135681

In [136]:
Y_TEST_PREDICTED1[Y_TEST_PREDICTED1['count'] < 0 ] = 0
Y_TEST_PREDICTED2[Y_TEST_PREDICTED2['count'] < 0 ] = 0

In [137]:
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PREDICTED1))
print(r2_score(Y_TEST, Y_TEST_PREDICTED2))

0.8557687199442273
0.9396638164009563

In [139]:
y_test_predicted = pd.DataFrame(model2.predict(x_test)).rename(columns={0:'count'})

In [140]:
print(y_test_predicted.head(3))

       count
0  11.292824
1   2.401176
2  -1.850646

In [141]:
y_test_predicted[y_test_predicted['count'] < 0 ] = 0

In [143]:
final = pd.concat([x_test_datetime, y_test_predicted],axis=1)
print(final)

                datetime       count
0    2011-01-20 00:00:00   11.292824
1    2011-01-20 01:00:00    2.401176
2    2011-01-20 02:00:00    0.000000
3    2011-01-20 03:00:00    0.000000
4    2011-01-20 04:00:00    0.000000
...                  ...         ...
6488 2012-12-31 19:00:00  246.591675
6489 2012-12-31 20:00:00  186.392761
6490 2012-12-31 21:00:00  142.245529
6491 2012-12-31 22:00:00   91.122375
6492 2012-12-31 23:00:00   50.713657

[6493 rows x 2 columns]

In [144]:
final.to_csv('sample_data/12345.csv',index=False)