<a href="https://colab.research.google.com/github/LimJiYeonn/LimJiYeonn.github.io/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B04%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 단순한 데이터 분석

1.1 top 10 구하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
None

In [ ]:
print(data.sort_values('MEDV', ascending = True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

1.2 결측치 확인

In [ ]:
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [ ]:
rm_mean = data['RM'].mean()
print(rm_mean)

6.285101832993899

In [ ]:
rm_copy1 = data['RM']
rm_copy1 = rm_copy1.fillna(rm_mean, inplace = False)
# inplace = True : 변경된 값을 rm_copy1 변수에 바로 적용
# False : 변경된 값을 변수에 반영X
print(rm_copy1)

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [ ]:
print(rm_copy1.isnull().sum())

0

In [ ]:
rm_copy2 =data['RM']
print(rm_copy2.shape)
print(rm_copy2.isnull().sum())

(506,)
15

In [ ]:
rm_copy2 =data['RM'].dropna(inplace = False)
print(rm_copy2)

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [ ]:
print(rm_copy2.isnull().sum())

0

In [ ]:
print(abs(rm_copy1.std() - rm_copy2.std()))

0.010595546094104513

1.3 이상값 확인하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
min = zn_mean - 1.5 * zn_std
max = zn_mean + 1.5 * zn_std

In [ ]:
print(min)

-23.620043128136192

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [ ]:
print(data['ZN'] < min)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool

In [ ]:
print(data[data['ZN'] < min])

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [ ]:
print(data[data['ZN'] > max])

        CRIM     ZN  INDUS  CHAS     NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
39   0.02763   75.0   2.95     0  0.4280  ...  252     18.3  395.63   4.32  30.8
40   0.03359   75.0   2.95     0  0.4280  ...  252     18.3  395.62   1.98  34.9
54   0.01360   75.0   4.00     0  0.4100  ...  469     21.1  396.90  14.80  18.9
55   0.01311   90.0   1.22     0  0.4030  ...  226     17.9  395.93   4.81  35.4
56   0.02055   85.0   0.74     0  0.4100  ...  313     17.3  396.90   5.77  24.7
57   0.01432  100.0   1.32     0  0.4110  ...  256     15.1  392.90   3.95  31.6
65   0.03584   80.0   3.37     0  0.3980  ...  337     16.1  396.90   4.67  23.5
66   0.04379   80.0   3.37     0  0.3980  ...  337     16.1  396.90  10.24  19.4
193  0.02187   60.0   2.93     0  0.4010  ...  265     15.6  393.37   5.03  31.1
194  0.01439   60.0   2.93     0  0.4010  ...  265     15.6  376.70   4.38  29.1
195  0.01381   80.0   0.46     0  0.4220  ...  255     14.4  394.23   2.97  50.0
196  0.04011   80.0   1.52     0  0.4040  ...  329     12.6  396.90   4.08  33.3
197  0.04666   80.0   1.52     0  0.4040  ...  329     12.6  354.31   8.61  30.3
198  0.03768   80.0   1.52     0  0.4040  ...  329     12.6  392.20   6.62  34.6
199  0.03150   95.0   1.47     0  0.4030  ...  402     17.0  396.90   4.56  34.9
200  0.01778   95.0   1.47     0  0.4030  ...  402     17.0  384.30   4.45  32.9
201  0.03445   82.5   2.03     0  0.4150  ...  348     14.7  393.77   7.43  24.1
202  0.02177   82.5   2.03     0  0.4150  ...  348     14.7  395.38   3.11  42.3
203  0.03510   95.0   2.68     0  0.4161  ...  224     14.7  392.78   3.81  48.5
204  0.02009   95.0   2.68     0  0.4161  ...  224     14.7  390.55   2.88  50.0
254  0.04819   80.0   3.64     0  0.3920  ...  315     16.4  392.89   6.57  21.9
255  0.03548   80.0   3.64     0  0.3920  ...  315     16.4  395.18   9.25  20.9
256  0.01538   90.0   3.75     0  0.3940  ...  244     15.9  386.34   3.11  44.0
283  0.01501   90.0   1.21     1  0.4010  ...  198     13.6  395.52   3.16  50.0
284  0.00906   90.0   2.97     0  0.4000  ...  285     15.3  394.72   7.85  32.2
285  0.01096   55.0   2.25     0  0.3890  ...  300     15.3  394.72   8.23  22.0
286  0.01965   80.0   1.76     0  0.3850  ...  241     18.2  341.60  12.93  20.1
287  0.03871   52.5   5.32     0  0.4050  ...  293     16.6  396.90   7.14  23.2
288  0.04590   52.5   5.32     0  0.4050  ...  293     16.6  396.90   7.60  22.3
289  0.04297   52.5   5.32     0  0.4050  ...  293     16.6  371.72   9.51  24.8
290  0.03502   80.0   4.95     0  0.4110  ...  245     19.2  396.90   3.33  28.5
291  0.07886   80.0   4.95     0  0.4110  ...  245     19.2  396.90   3.56  37.3
292  0.03615   80.0   4.95     0  0.4110  ...  245     19.2  396.90   4.70  27.9
298  0.06466   70.0   2.24     0  0.4000  ...  358     14.8  368.24   4.97  22.5
299  0.05561   70.0   2.24     0  0.4000  ...  358     14.8  371.58   4.74  29.0
300  0.04417   70.0   2.24     0  0.4000  ...  358     14.8  390.86   6.07  24.8
343  0.02543   55.0   3.78     0  0.4840  ...  370     17.6  396.90   7.18  23.9
344  0.03049   55.0   3.78     0  0.4840  ...  370     17.6  387.97   4.61  31.2
347  0.01870   85.0   4.15     0  0.4290  ...  351     17.9  392.43   6.36  23.1
348  0.01501   80.0   2.01     0  0.4350  ...  280     17.0  390.94   5.99  24.5
351  0.07950   60.0   1.69     0  0.4110  ...  411     18.3  370.78   5.49  24.1
352  0.07244   60.0   1.69     0  0.4110  ...  411     18.3  392.33   7.79  18.6
353  0.01709   90.0   2.02     0  0.4100  ...  187     17.0  384.46   4.50  30.1
354  0.04301   80.0   1.91     0  0.4130  ...  334     22.0  382.80   8.05  18.2
355  0.10659   80.0   1.91     0  0.4130  ...  334     22.0  376.04   5.57  20.6

[45 rows x 14 columns]

In [ ]:
print(data[data['ZN'] > max]['ZN'])

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [ ]:
zn_max = data[data['ZN'] > max]['ZN']

In [ ]:
print(zn_max.sum())

3462.5

1.4 사분위수 구하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
data = data.drop(columns = ['CHAS', 'RAD'])

In [ ]:
print(data.describe())

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 12 columns]

In [ ]:
print(data.describe().loc[['25%', '75%']].T)

                25%         75%
CRIM       0.082045    3.677082
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [ ]:
desc_t = data.describe().loc[['25%', '75%']].T

In [ ]:
print(type(desc_t))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
desc_t = desc_t.iloc[:,1] - desc_t.iloc[:,0]

In [ ]:
print(desc_t)

CRIM         3.595037
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

1.5 순위 구하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
sort_medv = data.sort_values('MEDV', ascending = False)['MEDV']
print(sort_medv)

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
       ...
414     7.0
399     6.3
400     5.6
398     5.0
405     5.0
Name: MEDV, Length: 506, dtype: float64

In [ ]:
#30번째라고 sort_medv[29]하면 절대 안됌, 그럼 index=30인게 나옴
#정렬된 상태에서 30번째를 뽑으려면 iloc 사용하기
print(sort_medv.iloc[29])

41.7

In [ ]:
sort_medv[0:29] = sort_medv.iloc[29]
print(sort_medv[0:29])

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
372    41.7
186    41.7
204    41.7
257    41.7
195    41.7
166    41.7
163    41.7
267    41.7
162    41.7
161    41.7
368    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
202    41.7
Name: MEDV, dtype: float64

In [ ]:
print(sort_medv.mean(), sort_medv.median(), sort_medv.min(), sort_medv.max() )

22.179644268774698 21.2 5.0 41.7

### 2. 복잡한 데이터 분석

2.1 그룹별 집계/요약 하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
tax_mid = data['TAX'].median()
print(tax_mid)

330.0

In [ ]:
c_r = data[data['TAX'] > tax_mid][['CHAS','RAD']]
print(c_r)

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [ ]:
#c_r 그룹핑 전에 종류 살펴보기
print(c_r['CHAS'].unique())
print(c_r['RAD'].unique())

[0 1]
[ 3  4  5  6  2  1 24]

In [ ]:
# 데이터프레임. groupby( [ 그룹화할 컬럼들 ] ) [ 수행 컬럼 ] .추가 작업()
# CHAS, RAD 칼럼 순으로 그룹을 짓고, 그룹 안에 속한 RAD 칼럼 값을 센 변수로 만들기
c_r_gb = c_r.groupby(['CHAS','RAD'])['RAD'].count()
print(c_r_gb)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [ ]:
print( c_r.groupby(['CHAS','RAD'])['CHAS'].count())

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: CHAS, dtype: int64

In [ ]:
print(type(c_r_gb))
c_r_gb_c = pd.DataFrame(c_r_gb)
print(type(c_r_gb_c))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#칼럼 추가
c_r_gb_c.columns = ['COUNT']
print(c_r_gb_c)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

2.2 오름/내림 차순 정렬

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
#sort_asc = data['TAX'].copy()
#sort_desc = data['TAX'].copy()
sort_asc = data['TAX'].sort_values(ascending = True )
print(sort_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [ ]:
sort_desc = data['TAX'].sort_values(ascending = False)
print(sort_desc)

488    711
489    711
490    711
491    711
492    711
      ...
125    188
126    188
122    188
123    188
353    187
Name: TAX, Length: 506, dtype: int64

행 번호가 뒤섞여 있어 인덱스를 모두 재설정해야함 - reset_index()

drop=True 원래 index 삭제

inplace=True 변수에 즉시 적용

In [ ]:
sort_asc.reset_index(drop=True, inplace=True)
print(sort_asc)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [ ]:
sort_desc.reset_index(drop=True, inplace=True)
print(sort_desc)

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [ ]:
sort_concat = pd.concat([sort_asc, sort_desc], axis = 1 ) #1이니까 열기준 합치기
print(sort_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [ ]:
sort_concat['diff'] = abs( sort_concat.iloc[:,0] - sort_concat.iloc[:,1] )
print(sort_concat)
print(sort_concat['diff'].var())

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]
28490.5986459515

2.3 최소최대 변환하기

In [ ]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
min_max = scaler.fit_transform(data) 
print(type(min_max))

<class 'numpy.ndarray'>

In [ ]:
#numpy.ndarray타입은 pd로 가공x, 데프로 변경하기
min_max = pd.DataFrame(min_max, columns = data.columns)
print(min_max.head())

       CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  0.422222
1  0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  0.368889
2  0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000
3  0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  0.631111
4  0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  0.693333

[5 rows x 14 columns]

In [ ]:
print(min_max[min_max['MEDV'] > 0.5]['MEDV'].count())

106

2.4 빈도값 구하기

In [ ]:
data_copy = data['AGE'].copy()
print(data_copy)

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [ ]:
data_copy = data_copy.round()
print(data_copy)

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

최빈값 1번째 방법

In [ ]:
# 칼럼 1개 = 시리즈 -> 데프로 변경
print(type(data_copy))
data_copy = pd.DataFrame(data_copy)
print(type(data_copy))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
gb = data_copy.groupby(['AGE'])['AGE'].count()
print(gb)

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [ ]:
print(type(gb))
gb = pd.DataFrame(gb)
print(type(gb))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(gb.columns)

Index(['AGE'], dtype='object')

In [ ]:
gb.columns = ['COUNT']

In [ ]:
print(gb.head())

     COUNT
AGE
3.0      1
6.0      3
7.0      3
8.0      3
9.0      1

index인 AGE를 칼럼으로 변경하고 새 index 부여

In [ ]:
gb.reset_index(drop=False, inplace=True)
print(gb.head())

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3
3  8.0      3
4  9.0      1

In [ ]:
gb.sort_values(by = 'COUNT', ascending=False, inplace=True)
print(gb.head(1))

      AGE  COUNT
90  100.0     43

In [ ]:
print(gb.iloc[0,0], gb.iloc[0,1])

100.0 43

최빈값 2번째 방법

In [159]:
from scipy.stats import mode

In [160]:
print(mode(data_copy))

ModeResult(mode=array([[100.]]), count=array([[43]]))

In [161]:
print(int(mode(data_copy)[0]), int(mode(data_copy)[1]))

100 43

2.5 표준 변환하기

In [167]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import StandardScaler

In [177]:
scaler = StandardScaler()
stdd = scaler.fit_transform(data)
print(type(stdd))

<class 'numpy.ndarray'>

In [178]:
stdd = pd.DataFrame(stdd, columns = data.columns)

In [179]:
print((stdd['DIS'] > 0.4) & (stdd['DIS'] < 0.6))

0      False
1       True
2       True
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: DIS, Length: 506, dtype: bool

In [183]:
stdd = stdd[(stdd['DIS'] > 0.4) & (stdd['DIS'] < 0.6)]
print(round(stdd['DIS'].mean(),2))

0.48

2.6 유니크한 값 구하기

In [193]:
import pandas as pd
data = pd.read_csv('boston.csv')

In [214]:
print(data.shape)
print(data.columns)
print(type(data))
cs = data.columns.size
print(cs)

(506, 14)
Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
14

In [205]:
print(data['CHAS'].unique())
print(type(data['CHAS'].unique()))
print(pd.DataFrame(data['CHAS'].unique()).count())

[0 1]
<class 'numpy.ndarray'>
0    2
dtype: int64

In [206]:
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

2

In [212]:
print(
    (
    int(pd.DataFrame(data['CRIM'].unique()).count()) + 
    int(pd.DataFrame(data['ZN'].unique()).count()) + 
    int(pd.DataFrame(data['INDUS'].unique()).count()) + 
    int(pd.DataFrame(data['CHAS'].unique()).count()) + 
    int(pd.DataFrame(data['NOX'].unique()).count()) + 
    int(pd.DataFrame(data['RM'].unique()).count()) + 
    int(pd.DataFrame(data['AGE'].unique()).count()) + 
    int(pd.DataFrame(data['DIS'].unique()).count()) + 
    int(pd.DataFrame(data['RAD'].unique()).count()) + 
    int(pd.DataFrame(data['TAX'].unique()).count()) + 
    int(pd.DataFrame(data['PTRATIO'].unique()).count()) + 
    int(pd.DataFrame(data['B'].unique()).count()) + 
    int(pd.DataFrame(data['LSTAT'].unique()).count()) + 
    int(pd.DataFrame(data['MEDV'].unique()).count()) 
    )/data.columns.size
    )

218.0

In [229]:
sum=0
data_col = data.columns
for name in data_col: 
  sum = sum + int(pd.DataFrame(data[name].unique()).count())
print(sum/data.columns.size)

218.0