<a href="https://colab.research.google.com/github/LimJiYeonn/LimJiYeonn.github.io/blob/master/%EC%97%B0%EC%8A%B5_4%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data = pd.read_csv('boston.csv')
medv_sort = data.sort_values('MEDV', ascending=True)
print(medv_sort['MEDV'].iloc[0:10])

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [13]:
import pandas as pd
data = pd.read_csv('boston.csv')
print(data['RM'].isnull().sum())
rm_copy1 = data['RM'].copy()
rm_copy2 = data['RM'].copy()
rm_m = data['RM'].mean()
rm_copy1.fillna(rm_m, inplace=True)
rm_copy1.dropna(inplace=True)
print(abs(rm_copy1.std() - rm_copy2.std()))

15
0.010595546094104513

In [16]:
import pandas as pd
data = pd.read_csv('boston.csv')
m = data['ZN'].mean()
s = data['ZN'].std()
print(data[(data['ZN'] < m - s*1.5) | (data['ZN'] > m + s*1.5)]['ZN'].sum())

3462.5

In [25]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_copy = data.copy()
data_copy.drop(columns=['CHAS', 'RAD'], inplace=True)
data_copy=data_copy.describe().loc[['25%', '75%']].T

data_copy['IQR'] = data_copy.iloc[:,1] - data_copy.iloc[:,0]
data_copy.drop(columns=['25%', '75%'], inplace=True)
print(data_copy)

                IQR
CRIM       3.595037
ZN        12.500000
INDUS     12.910000
NOX        0.175000
RM         0.736000
AGE       49.050000
DIS        3.088250
TAX      387.000000
PTRATIO    2.800000
B         20.847500
LSTAT     10.005000
MEDV       7.975000

In [62]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_new = data['MEDV'].sort_values(ascending = False)
#print(data['MEDV'].iloc[0:29])
data_new.iloc[0:29] = data_new.iloc[30]
#print(data['MEDV'].iloc[0:29])
print(data_new.mean(), data_new.median(), data_new.min(),data_new.max())

22.156719367588924 21.2 5.0 41.7

pandas.core.series.Series

In [60]:
import pandas as pd
data = pd.read_csv('boston.csv')
m = data['TAX'].median()
data_new = data[data['TAX']>m]

result = pd.DataFrame(data_new.groupby(['CHAS','RAD'])['CHAS'].count())
result.columns = ['COUNT']
print(result)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [82]:
import pandas as pd
data = pd.read_csv('boston.csv')
data1 = data.copy()
data2 = data.copy()
data1 = pd.DataFrame(data['TAX'].sort_values(ascending=True))
data2 = pd.DataFrame(data['TAX'].sort_values(ascending=False))
#print(data1.head(3))
#print(data2.head(3))
data1.reset_index(drop=True, inplace=True)
data2.reset_index(drop=True, inplace=True)
#print(data1.head(3))
#print(data2.head(3))
data3 = pd.concat([data1, data2],axis=1)

data3['diff'] = abs(data3.iloc[:,0]-data3.iloc[:,1])
print(data3['diff'].var())

28490.5986459515

In [93]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
medv_sc = pd.DataFrame(scaler.fit_transform(data[['MEDV']]))
print(medv_sc.describe())
print(medv_sc[ medv_sc > 0.5 ].count() )

                0
count  506.000000
mean     0.389618
std      0.204380
min      0.000000
25%      0.267222
50%      0.360000
75%      0.444444
max      1.000000
0    106
dtype: int64

In [95]:
# 위와 같은 결과
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
medv_sc = pd.DataFrame(scaler.fit_transform(data),columns=data.columns)
print(medv_sc[ medv_sc['MEDV'] > 0.5 ]['MEDV'].count() )

106

In [101]:
import pandas as pd
data = pd.read_csv('boston.csv')
data['AGE_new'] = round(data['AGE'])
#print(data['AGE_new'].head(3))
from scipy.stats import mode
print(int(mode(data['AGE_new'])[0]),int(mode(data['AGE_new'])[1]))

100 43
<class 'numpy.ndarray'>

In [102]:
import pandas as pd
data = pd.read_csv('boston.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sc = pd.DataFrame(scaler.fit_transform(data),columns=data.columns)
print(round(sc[ (sc['DIS'] > 0.4) & (sc['DIS'] < 0.6)]['DIS'].mean(),2))

0.48

In [121]:
import pandas as pd
data = pd.read_csv('boston.csv')
print(data.columns)
print(int(pd.DataFrame(data['CRIM'].unique()).count()))
print(type(data['CRIM'].unique()))
print(data.shape[1])

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
504
<class 'numpy.ndarray'>
14

In [122]:
sum=0
for i in data.columns:
  sum = sum + int(pd.DataFrame(data[i].unique()).count())
print(sum/data.shape[1])

218.0